.profile-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.profile-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.profile-container p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 10px;
  color: #555;
}

.profile-container p strong {
  color: #000;
}

.profile-container .button-container {
  text-align: center;
  margin-top: 20px;
}

.profile-container button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.profile-container button:hover {
  background-color: #0056b3;
}
.home-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s;
}

.home-button:hover {
  background-color: #0056b3;
}
