<nav class="navbar bg-gray-800">
  <div class="logo">
    <a class="navbar-brand text-white" routerLink="/">FPoly Product Manager</a>
  </div>
  <div class="logout">
    <div class="dropdown">
      <button
        class="btn btn-outline-light dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <img src="path/to/logout-icon.png" alt="Logout" class="logout-icon" />
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <ul class="dropdown-list">
          <li class="dropdown-item">Thông tin người dùng</li>
          <li class="dropdown-item">Đăng xuất</li>
        </ul>
      </div>
    </div>
  </div>
</nav>
